[access "refs/*"]
    read = group rdo-infra/releng
    owner = group rdo-infra/releng
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdo-infra/releng
    label-Code-Review = -2..+2 group rdo-infra/releng
    submit = group rdo-infra/releng
    read = group Registered Users
    read = group rdo-infra/releng
    label-Verified = -2..+0 group rdo-infra/releng
    label-Workflow = -1..+0 group Registered Users
    label-Workflow = -1..+0 group rdo-infra/releng
    label-Workflow = -1..+0 group rdo-infra/releng
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdo-infra/releng
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = Release engineering tools repo
