pygerrit >= 1.0.0
sh >= 1.12.9
pbr
python_jenkins
rdopkg
requests==2.9.1
urllib3
validators
PyYAML
git-review
oslo.log>=3.37.0
cliff>==2.11.0
# Other binary requirements
# git
# python-rpm
# rpmdevtools
